@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body * {
    /* font-family: Helvetica; */
    font-family: 'roboto';
    line-height: 1.5;
    text-align: center;
}

.section1 {
    width: 100%;
    background-image: url("../assets/backgrounds/backgrnd1.jpg");
    background-size: cover;
    height: 900px;
    margin: 0;
}

.section1-notes {
    position: relative;
    padding-top: 15%;
    color: white;
}

.section1 .mouse-click {
    position: relative;
    padding-top: 12%;
}

#delani-logo {
    padding: 3px;
}

#about-us {
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 50px;
}

#about-us p {
    font-size: medium;
}

#services {
    width: 100%;
    background-image: url("../assets/backgrounds/backgrnd2.jpg");
    background-size: cover;
    height: 400px;
    margin-top: 4%;
}

.services-notes {
    color: white;
    padding-top: 8%;
    font-size: medium;
}

.services-notes h2 {
    font-weight: bold;
}

#what-we-do {
    padding-top: 3%;
}


/* Hide***** */
#design-hide {
    display: none;
}

#development-hide {
    display: none;
}

#Product-management-hide {
    display: none;
}

#what-we-do #flex-all {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.what-we-do-hide {
    display: block;
    font-size: 15px;
    justify-content: space-evenly;
}

#portfolio {
    padding-top: 3%;
}

.portfolio-1,
.portfolio-2,
.portfolio-3,
.portfolio-4,
.portfolio-5,
.portfolio-6,
.portfolio-7,
.portfolio-8 {
    height: 70%;
    width: 70%;
    padding: 10%;
}

#work-1,
#work-2,
#work-3,
#work-4,
#work-5,
#work-6,
#work-7,
#work-8 {
    height: 90%;
    padding: 10%;
    border: 5px solid white;
    opacity: 0.5;
    font-size: large;
    font-weight: 800;
    background-color: white;
}

#contacts {
    background-image: url(../assets/backgrounds/backgrnd3.jpg);
    background-size: cover;
    margin-top: 4%;
    min-width: 100%;
    height: 600px;
}

#contact {
    padding-top: 60px;
    width: 100%;
    display: block;
    color: white;
    font-weight: bold;
}

#social-icons {
    margin-top: 1.2%;
}

textarea {
    text-align: start;
    color: white;
    margin-left: 15px;
    display: inline;
    width: 49%;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}

::placeholder {
    color: white;
    opacity: 1;
    text-align: start;
}

input {
    margin: 0.35%;
    text-align: start;
    color: white;
    width: 25%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}

#delani-name {
    padding-top: 2%;
    font-size: small;
}